.dataset {
    padding: 20px 0px;
    max-width: 500px;
}

.tag-detail {
    padding-top: 10px;
    width: 360px;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.collection-container {
  margin-bottom: 10px;
}

.tag-option {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
}

.collection-label {
  margin-right: 5px;
}

.mouse-hover {
  cursor: pointer;
}

.dataset-table-footer {
  font-weight: bold;
}

.collection-button {
  font-size: 14px;
}

.collection-edit-icon {
  font-size: 18px;
  margin-left: 4px;
}

.select-collection {
  padding: 2px 2px;
  margin-right: 5px;
  max-width: 200px;
}

.send-email {
  padding-top: 5px;
}

.share-chip-list {
  width: 100%;
}

.sharecollection {
  font-style: italic;
}