<h2 *ngIf="authService.isLoggedIn()">Review your data on your web browser</h2>

<div>
  <app-login [navPath]="navPath"></app-login>
</div>

<div class="spacing"></div>

<div *ngIf="authService.isLoggedIn()" class="with-min-height">
  
  <div class="progress" *ngIf="notification.type === 'working'">
    <mat-spinner diameter=50></mat-spinner>
  </div>
  <div class="alert-box {{notification.type}}" *ngIf="notification.content !== '' && notification.for === 'review'">
    <span>{{notification.type}}: </span>{{notification.content}}
  </div>

  <mat-card *ngIf="appService.showOptions" class="collection-container">
    <div class="tag-option">
      <span class="collection-label">Collection</span>
      <span>
        <select [(ngModel)]="appService.collectionId" (change)="onCollectionChange()" class="select-collection">
          <option [value]="c.id" *ngFor="let c of optionCollections" [ngClass]="{'sharecollection': c.owner==='no'}">{{c.owner==='no'?'[shared]':''}} {{c.name}} {{c.id.length === 8 ? '('+c.numtags+')' : ''}}</option>
        </select>
      </span>
      <button mat-icon-button><mat-icon class="collection-edit-icon" (click)="onCollectionEdit()">edit</mat-icon></button>
      <button mat-icon-button *ngIf="canShareCollection"><mat-icon (click)="toogleCollectionSharing()">share</mat-icon></button>
      <span class="hoz-spacer"></span>
      <button mat-icon-button *ngIf="appService.listView == true"><mat-icon (click)="toogleViewType()">view_module</mat-icon></button>
      <button mat-icon-button *ngIf="appService.listView == false"><mat-icon (click)="toogleViewType()">view_list</mat-icon></button>
      <button mat-icon-button (click)="onRefreshClick()"><mat-icon>refresh</mat-icon></button>
    </div>
    <div *ngIf="showSharing">Share to other monash/gmail accounts:
      <div class='send-email'>
        <input type="checkbox" [(ngModel)]="notifyPeople" [ngModelOptions]="{standalone: true}"/> Notify people
      </div>
      <mat-form-field class="share-chip-list">
        <mat-chip-list #chipList aria-label="sharing emails">
          <mat-chip *ngFor="let email of shareEmails" [selectable]="selectable"
                    [removable]="removable" (removed)="onRemoveShareEmail(email)">
            {{email}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input  placeholder="Add email..."
                  [matChipInputFor]="chipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  [matChipInputAddOnBlur]="addOnBlur"
                  (matChipInputTokenEnd)="onAddShareEmail($event)">
        </mat-chip-list>
      </mat-form-field> 
    </div>
  </mat-card>
  
  <div *ngIf="tags.length > 0">

    <!-- list/table view -->
    <table *ngIf="appService.listView == true" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <ng-container matColumnDef="tag">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tag </th>
        <td mat-cell *matCellDef="let element"> {{element.tag}} </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
      </ng-container>

      <ng-container matColumnDef="dateStr">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.dateStr}} </td>
      </ng-container>

      <ng-container matColumnDef="size">
        <th mat-header-cell *matHeaderCellDef> Size </th>
        <td mat-cell *matCellDef="let element"> {{element.size}} </td>
      </ng-container>

      <ng-container matColumnDef="collection">
        <th mat-header-cell *matHeaderCellDef> Collection </th>
        <td mat-cell *matCellDef="let element"> {{findCollectionName(element.collection)}} </td>
      </ng-container>

      <ng-container matColumnDef="hasPassword">
        <th mat-header-cell *matHeaderCellDef> Password </th>
        <td mat-cell *matCellDef="let element"> {{element.hasPassword}} </td>
      </ng-container>

      <ng-container matColumnDef="note">
        <th mat-header-cell *matHeaderCellDef> Note </th>
        <td mat-cell *matCellDef="let element"> {{element.note}} </td>
      </ng-container>

      <ng-container matColumnDef="summary">
          <td mat-footer-cell *matFooterCellDef colspan="6">
            Number of tags: {{tags.length}}
          </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="mouse-hover"
        (click)="onDatasetClick(row)">
      </tr>
      <tr mat-footer-row *matFooterRowDef="['summary']" class="tag-table-footer"></tr>
    </table>
      
    <!-- grid view -->
    <div *ngIf="appService.listView == false" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px">
      <div class = "tag-detail" *ngFor="let tag of tags">
        
        <mat-card (click)="onDatasetClick(tag)" class="mouse-hover">
          <mat-card-header>
            <mat-card-title><b>{{tag.tag}} ({{tag.type | lowercase}})</b></mat-card-title>
            <mat-card-subtitle >
              <div>
                <div>Date: {{tag.dateStr}}</div>
                <div>Size: {{tag.size}}</div>
                <div>Collection: {{findCollectionName(tag.collection)}}</div>
                <div>Note: {{(tag.note.length>40)? (tag.note | slice:0:40)+'..':(tag.note)}}</div> 
                <div>Password protection: {{tag.hasPassword}}</div>
              </div>
            </mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src={{tag.imgUrl}} height="200" alt={{tag.tag}}>
        </mat-card>

      </div>
    </div>
      
  </div>
  
</div>
