[submodule "server/public/sharevol"]
	path = server/public/sharevol
	url = https://github.com/mivp/sharevol.git
[submodule "server/potree/LAStools"]
	path = server/potree/LAStools
	url = https://github.com/m-schuetz/LAStools.git
[submodule "server/potree/PotreeConverter"]
	path = server/potree/PotreeConverter
	url = https://github.com/potree/PotreeConverter.git
[submodule "server/potree/potree"]
	path = server/potree/potree
	url = https://github.com/ntoand/potree.git
