 body {
             padding   : 0;
             margin    : 0;
             color     : #222;
             background-color: #f9f9f9;
             font-family  : arial;
             font-size  : 100%;
             overflow  : hidden;
             background-position: center; 
             background-repeat: no-repeat; 
             background-attachment:fixed;
         }

         #heading {
             background-color: #aaa;
             width      : 100%;
             margin     : 0;
         }

         #title, #status {
             padding    : 5px;
             margin     : 0px 5px;
         }

         #status {
             color       : #f55;
             font-weight : bold;
             position: absolute;
             top: 5%; left: 1%;
         }

         .dropdown {
             float: right;
             border-color: #555;
             border-style: groove;
             border-width: 1px;
             border-radius: 4px;
             padding: 4px;
             margin: 1px;
             font-size: 85%;
             background-color: #bbb;
         }

         .menu {
             display: none; 
             position: absolute;
             right: 2px;
             top: 28px;
             overflow: hidden; 
             text-align: left;
             background-color: #aaa;
             border-color: #555;
             border-style: groove;
             border-width: 1px;
             padding: 5px;
             font-size: 85%;
         }

         .dropdown:hover {background-color: #ddc;}
         .dropdown.active {background-color: #ddc;}

         .menu input,label { 
             padding: 5px 0px;
             margin: 5px;
             vertical-align: middle; 
         }

         .menu.active {display: block;}

         #label {
             position: absolute;
             top: 15%;
             background-color: #dc0;
             display: none;
             border-color: #555;
             border-style: groove;
             border-width: 1px;
             padding: 4px;
         }

         #container {
             width : 100%;
             height : 100%;
         }

         #canvas {
             width : 100%;
             height : 100%;
         }

         #footing {
             position : absolute;
             background-color: #aaa;
             bottom : 0;
             width : 100%;
             padding : 5px;
             text-align : left;
             font-size: 85%;
             margin     : 0;
             overflow  : hidden;
         }

         #nowebgl {
             position:fixed;
             width:400px;
             top:50%; left:50%;
             margin:-100px 0 0 -200px; /* [-(height/2)px 0 0 -(width/2)px] */
             display:none; z-index: 100; border: none; 
             padding: 5px; overflow-y: auto;
             font-family  : monospace;
             font-size  : 13px;
             font-weight  : normal;
             text-align  : center;
             background  : #fff;
             color  : #000;
             opacity: 0.75;
         }

         /* Hide footer on phone screen */
         @media (max-width: 700px) {
             #footing {display: none;}
         }
         
