<h2 *ngIf="authService.isLoggedIn()">Upload your data (volume, mesh, pointcloud or high-res image)</h2>

<div>
  <app-login [navPath]="navPath"></app-login>
  <div class="spacing"></div>
</div>

<div *ngIf="authService.isLoggedIn()" class="main-part">
  
  <mat-card>
    <h4>See <a href="https://github.com/mivp/previs/wiki/Uploading-data-to-previs" target="_blank">uploading data to previs</a> for more information.</h4>
    <div>
      <p><mat-checkbox [(ngModel)]="appService.settings.sendEmail">Notify me via email when data processing is complete</mat-checkbox></p>
    </div>
    <div class="block">
     <mat-radio-group class="upload-radio-group" [(ngModel)]="appService.uploadType">
        <mat-radio-button class="type-radio-button" value="local">Local upload</mat-radio-button>
        <mat-radio-button class="type-radio-button" value="link">Shared link</mat-radio-button>
        <mat-radio-button class="type-radio-button" value="mytardis">Mytardis</mat-radio-button>
      </mat-radio-group> 
    </div>
    
    <div class="block" *ngIf="appService.uploadType === 'local'">
      <app-uploadfile></app-uploadfile>
    </div>
    
    <div class="block" *ngIf="appService.uploadType === 'link'">
      <app-uploadlink></app-uploadlink>
    </div>
    
    <div class="block" *ngIf="appService.uploadType === 'mytardis'">
      <app-mytardis></app-mytardis>
    </div>
    
  </mat-card>
  
  <div class="spacing"></div>

  <mat-card *ngIf="showResultDiv">
    <div class="block" id="processing_anchor">
      
      <div class="block" *ngIf="tag === null">
          <mat-radio-group class="type-radio-group" [(ngModel)]="appService.dataType" *ngFor="let dt of dataTypes">
            <mat-radio-button class="type-radio-button" value={{dt}}>{{dt}}</mat-radio-button>
          </mat-radio-group>
      </div>

      <div class="block" *ngIf="appService.dataType === 'volume' && tag === null">
          <p>Voxel size x <input type="number" step="0.01" [(ngModel)]="appService.settings.voxelSizeX" class="option-input" > 
            y <input type="number" step="0.01" [(ngModel)]="appService.settings.voxelSizeY" class="option-input" > 
            z <input type="number" step="0.01" [(ngModel)]="appService.settings.voxelSizeZ" class="option-input" > 
          (will be used when no voxelsize information is available in uploaded file)
          </p>
          <p>Channel index <input type="number"  [(ngModel)]="appService.settings.channel" class="option-input" > 
          Timestep <input type="number"  [(ngModel)]="appService.settings.time" class="option-input" > 
          (in case your stacked tiff has more than 1 channel or 1 timestep. Index starts from 0)
          </p>
      </div>

      <div class="progress" *ngIf="message.type === 'working'">
        <mat-spinner diameter=50></mat-spinner>
      </div>
        
      <div class="alert-box {{message.type}}" *ngIf="message.content !== ''">
        <span>{{message.type}}: </span>{{message.content}}
      </div>

      <div class="block" *ngIf="(appService.dataType === 'volume' || dataTypes.length > 1) && !disableProcessButton">
        <button mat-raised-button color='primary' (click)=onProcessClick($event)>PROCESS</button>
      </div>

      <div class="result" *ngIf="tag">
        <h3>Tag details:</h3>
        <p>{{tag.id}} ({{tag.type | lowercase}})</p>
        <p>Date: {{tag.dateStr}}</p>
        <p>Size: {{tag.size}}</p>
        <a href={{tag.viewUrl}} target="_blank"><button mat-raised-button color='primary'>View on web</button></a>
        <a href={{tag.qrUrl}} target="_blank" class="left-margin"><button mat-raised-button color='primary'>QR code</button></a>
      </div>
    </div>
  </mat-card>
  
  <div class="spacing"></div>

</div>