<div>
  <p>Copy/paste a Google Drive shared link. <b>Please make sure that anyone can access data with the link.</b></p>
  <form class="file-form">
    
    <mat-form-field class="full-width">
      <input matInput placeholder="shared link" [(ngModel)]="urlStr" name="urlStr">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="file ext (zip, laz, ...)" [(ngModel)]="extStr" name="extStr">
    </mat-form-field>
    
    <div class="alert-box error" *ngIf="errMsg !== ''">
      <span>Error: </span>{{errMsg}}
    </div>
    
    <div>
      <button mat-raised-button color="primary" (click)="onImportClick($event)" type="submit">Import</button>
    </div>
    
  </form>
</div>