.small-button {
    font-size: 18px;
    vertical-align: top;
}

.input-str {
    width: 80%;
    padding: 2px 2px;
}

.width-100 {
    width: 320px;
}

.sub-title div {
    padding: 5px 0px;
}

.info-session {
    padding-top: 5px;
    padding-bottom: 5px;
}

.select-collection {
    width: 250px;
    vertical-align: middle;
    padding: 2px 2px;
    margin-right: 10px;
}

.action-button {
    margin-right: 3px;
}

.share-chip-list {
    width: 100%;
}

.send-email {
    padding-top: 5px;
}