<h1 mat-dialog-title>{{dataset.tag}} ({{dataset.type | lowercase}})</h1>
<div mat-dialog-content>
  <div *ngIf="dataset.imgUrl != 'assets/img/no-image-box.png'" [ngStyle]="getImageContainerStyles(dataset.imgUrl)"></div>
  <div class='info-session'>Date: {{dataset.dateStr}}</div>
  <div class='info-session'>Size: {{dataset.size}}</div>

  <div class='info-session' *ngIf='collectionEditMode === false'>Collection: {{collectionName}}
    <button (click)="onCollectionEnableEdit($event)" class='action-button'>edit</button>
    <button (click)="onCollectionRemove($event)" class='action-button'>remove</button>
  </div>
  <div class='info-session' *ngIf='collectionEditMode === true'>
    <select [(ngModel)]="collectionId" class="select-collection">
        <option [value]="c.id" *ngFor="let c of collections">{{c.name}} ({{c.id}})</option>
    </select>
    <span><a href="#" (click)="onCollectionEditGo($event)"><mat-icon class="small-button">check</mat-icon></a></span>
    <span><a href="#" (click)="onCollectionEditCancel($event)"><mat-icon class="small-button">close</mat-icon></a></span>
  </div>


  <div class='info-session' *ngIf='editMode === false'>Note: {{noteStr}} 
    <button (click)="onNoteEnableEdit($event)" class='action-button'>edit</button>
  </div>
  <div class='info-session' *ngIf='editMode === true'>Note: 
    <span><input [(ngModel)]="noteStr" class="input-str"></span>
    <span><a href="#" (click)="onNoteEditGo($event)"><mat-icon class="small-button">check</mat-icon></a></span>
    <span><a href="#" (click)="onNoteEditCancel($event)"><mat-icon class="small-button">close</mat-icon></a></span>
  </div>

  <div class='info-session' *ngIf='passwordEditMode === false'> Password: 
    <span *ngIf='passwordShowMode === true'>{{passwordStr}} </span>
    <span *ngIf='passwordShowMode === false && passwordStr.length > 0'>******* </span>
    <button *ngIf='passwordShowMode === false && passwordStr.length > 0' (click)="onPasswordToggleShow($event)">show</button> 
    <button *ngIf='passwordShowMode === true && passwordStr.length > 0' (click)="onPasswordToggleShow($event)">hide</button> 
    <button (click)="onPasswordEnableEdit($event)" class='action-button'>edit</button> 
  </div>
  <div class='info-session' *ngIf='passwordEditMode === true'> Password: 
    <span><input [(ngModel)]="passwordStr" class="input-str"></span>
    <span><a href="#" (click)="onPasswordEditGo($event)"><mat-icon class="small-button">check</mat-icon></a></span>
    <span><a href="#" (click)="onPasswordEditCancel($event)"><mat-icon class="small-button">close</mat-icon></a></span>
  </div>

</div>
<div mat-dialog-actions>
  <a href={{dataset.viewUrl}} target="_blank"><button mat-button color='primary'>VIEW WEB</button></a>
  <a href={{dataset.qrUrl}} target="_blank"><button mat-button color='primary'>QR</button></a>
  <button mat-button color='warn' (click)="onDeleteTag(dataset.tag, dataset.dir)">DELETE</button>
</div>