<h1 mat-dialog-title>{{tag.tag}} ({{tag.type | lowercase}})</h1>
<div mat-dialog-content>

  <div *ngIf="tag.imgUrl != 'assets/img/no-image-box.png'" [ngStyle]="getImageContainerStyles(tag.imgUrl)"></div>

  <div class="alert-box {{notification.type}}" *ngIf="notification.content !== '' && notification.for === 'tagdetail'">
    <span>{{notification.type}}: </span>{{notification.content}}
  </div>

  <div class='info-session'>Date: {{tag.dateStr}}</div>
  <div class='info-session'>Size: {{tag.size}}</div>
  <div class='info-session'>Size on disk: {{tag.disk.toFixed(2)}} MB</div>

  <div class='info-session' *ngIf='collectionEditMode === false'>Collection: {{collectionName}}
    <button *ngIf="owner" (click)="onCollectionEnableEdit($event)" class='action-button'>edit</button>
    <button *ngIf="owner && collectionName.length > 0" (click)="onCollectionRemove($event)" class='action-button'>remove</button>
  </div>
  <div class='info-session' *ngIf='collectionEditMode === true'>
    <select [(ngModel)]="collectionId" class="select-collection">
        <option [value]="c.id" *ngFor="let c of myCollections">{{c.name}} ({{c.id}})</option>
    </select>
    <span><a href="#" (click)="onCollectionEditGo($event)"><mat-icon class="small-button">check</mat-icon></a></span>
    <span><a href="#" (click)="onCollectionEditCancel($event)"><mat-icon class="small-button">close</mat-icon></a></span>
  </div>


  <div class='info-session' *ngIf='editMode === false'>Note: {{noteStr}} 
    <button *ngIf="owner" (click)="onNoteEnableEdit($event)" class='action-button'>edit</button>
  </div>
  <div class='info-session' *ngIf='editMode === true'>Note: 
    <span><input [(ngModel)]="noteStr" class="input-str"></span>
    <span><a href="#" (click)="onNoteEditGo($event)"><mat-icon class="small-button">check</mat-icon></a></span>
    <span><a href="#" (click)="onNoteEditCancel($event)"><mat-icon class="small-button">close</mat-icon></a></span>
  </div>

  <div class='info-session' *ngIf='passwordEditMode === false'> Password: 
    <span *ngIf='passwordShowMode === true'>{{passwordStr}} </span>
    <span *ngIf='passwordShowMode === false && passwordStr.length > 0'>******* </span>
    <button *ngIf='passwordShowMode === false && passwordStr.length > 0' (click)="onPasswordToggleShow($event)">show</button> 
    <button *ngIf='passwordShowMode === true && passwordStr.length > 0' (click)="onPasswordToggleShow($event)">hide</button> 
    <button *ngIf="owner" (click)="onPasswordEnableEdit($event)" class='action-button'>edit</button> 
  </div>
  <div class='info-session' *ngIf='passwordEditMode === true'> Password: 
    <span><input [(ngModel)]="passwordStr" class="input-str"></span>
    <span><a href="#" (click)="onPasswordEditGo($event)"><mat-icon class="small-button">check</mat-icon></a></span>
    <span><a href="#" (click)="onPasswordEditCancel($event)"><mat-icon class="small-button">close</mat-icon></a></span>
  </div>

  <div *ngIf="owner" class='info-session'>Share to other monash/gmail accounts:
    <div class='send-email'>
      <input type="checkbox" [(ngModel)]="notifyPeople" [ngModelOptions]="{standalone: true}"/> Notify people
    </div>
    <mat-form-field class="share-chip-list">
      <mat-chip-list #chipList aria-label="sharing emails">
        <mat-chip *ngFor="let email of shareEmails" [selectable]="selectable"
                  [removable]="removable" (removed)="onRemoveShareEmail(email)">
          {{email}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input  placeholder="Add email..."
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="onAddShareEmail($event)">
      </mat-chip-list>
    </mat-form-field>
  </div>

</div>
<div mat-dialog-actions>
  <a href={{tag.viewUrl}} target="_blank"><button mat-button color='primary'>VIEW WEB</button></a>
  <a href={{tag.qrUrl}} target="_blank"><button mat-button color='primary'>QR</button></a>
  <button mat-button color='warn' *ngIf="owner && tag.status==='processed'" (click)="onDeleteTag(tag)">DELETE</button>
  <button mat-button color='warn' disabled *ngIf="owner && tag.status==='processing'" (click)="onDeleteTag(tag)">DELETE</button>
</div>